@import "../../sassStyles/variables";


.namebox {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 3rem;

    &__icon {
        fill: $color-white;
        width: 5rem;
        height: 5rem;
        margin-right: .5rem;
    }

    &__text {
        color: $color-white;
    }
}