@import "../../sassStyles/variables";
@import "../../sassStyles/typography";

.main {
    background-color: $color-primary-1;
    color: $color-text-1;
    grid-column: main-start / main-end;
    grid-row: 2 / span 1;

    padding: 2rem;
    font-size: 1.8rem;



    h2 {
        font-weight: 200;
        color: $color-text-2;
        margin-bottom: 1rem;
    }
}