@import "../../sassStyles/variables";
@import "../../sassStyles/typography";

.main {
    background-color: $color-primary-1;
    color: $color-text-1;
    grid-column: main-start / main-end;
    grid-row: 2 / span 1;

    padding: 2rem;
    font-size: 1.8rem;

    @media only screen and (max-width: $bp-smallest) {
        grid-column: 1 / -1;
    }

    h2 {
        font-weight: 400;
        color: $color-text-2;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-weight: 200;
        color: $color-text-2;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    ul, ol {
        list-style-position: inside;
        padding-left: 2rem;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: #39a4bd;
    }

    a:hover {
        color: #11c2ec;
    }

    .code-block {
        margin: 2rem 0;
    }
}
