@import "../../sassStyles/variables";
@import "../../sassStyles/typography";

.sidebar {
    background-color: $color-primary-3;
    padding: 1rem;

    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    &__nav {
        margin-top: 3rem;

        @media only screen and (max-width: $bp-smallest)  {
            margin-top: 5rem;
        }

    }

    &__list {
        font-size: 1.6rem;
        color: $color-text-2;
        list-style: none;
        transition: all .2s;

        &-item {
            padding: 1.5rem;
            cursor: pointer;
        }

        &-item:hover {
            transform: translateY(-3px);
            color: $color-white;
        }
    }
    
    @media only screen and (max-width: $bp-smallest)  {
        display: none;
    }

}

.logobox {
    
}