// COLORS
$color-primary-1: #0D1117; // top bar background
$color-primary-2: #706E6E; //svgs
$color-primary-3: #161B22; // side-bar background

$color-text-1: #E4EAF1; // paragraph texts
$color-text-2: #878D94; // side bar text, headings