.container {
    display: grid;
    grid-template-columns: [container-start sidebar-start] max-content [sidebar-end main-start] 1fr [main-end container-end];
    grid-template-rows: repeat(4, min-content);

}